.advantages{
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
  &__title {
      opacity: 0; /* Текст стає невидимим */
    visibility: hidden; /* Текст залишається невидимим і не займає місце */
  
  }
  &__list{
    &:last-child{
      margin-right: 0px;
    }
  }
      
}
