

/* кнопка форми */
.button-valid{
    &__conteiner{
        display: flex;
        justify-content: center;
    }
    &__area{
        width: 200px;
        height: 50px;
        margin-top: 30px;
        margin-bottom: 40px;
        border: 0;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        
        font-family: var(--font-family-primary);
        color: var(--color-other);
        background-color: var(--color-background-accent);
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 187%; /* 187.5% */
        letter-spacing: 0.96px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}