.form{
    &__conteiner{
        margin: 12px 40px 20px;
    }
    &__title{
        color: var(--text-color-primary);
        text-align: center;
        font-family: var(--font-family-primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
    
        margin: 40px 40px 0px;
    }
    &__label{
        display: block;
        margin-top: 10px;
        margin-bottom: 4px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__input {
    
        display: block;
        width: 100%;
        max-width: 370px;
        
        @media screen and (min-width: 1200px){
            max-width: 448px;
            
        }

        width: 448px;
        height: 40px;
        flex-shrink: 0;
    
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
    
        padding: 12px 12px  12px 42px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus{
            border: 1px solid #2196F3;
            outline: none;
        }

    }
    &__icon{
        position: absolute;
        top:0;
        left:0;
        width: 18px;
        height: 18px;
        margin: 11px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .form__input:focus+&{
            fill: var(--color-background-accent);
        }
    }

    &__textarea{
        display: block;  
        min-height: 120px; 
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        resize:none;
        padding: 12px 16px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
        max-width: 370px;
       
        @media screen and (min-width: 1200px){
        max-width: 448px;
            
        }
        
        
        &:focus{
            border: 1px solid #2196F3;
            outline: none;
        }
        &::placeholder{
            color: rgba(117, 117, 117, 0.50);
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.12p
            
        }
    }
    &__input-area{
        position: relative;
    }
    &__link{
        color: var(--color-accent);
        text-decoration-line: underline;
    }

}
