


/* зразки робіт */
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 769px){
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    &__connteiner{
        /* margin-right: 30px; */
        margin-bottom: 30px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid #EEE;
        &:hover,
        &:focus {
    
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
            
        }
    }

   &__owerlay-box{
    position: relative;
    overflow: hidden;
    }
    &__owerlay-conteiner{
     position: absolute;
     background-color: var(--color-background-accent);
     width: 100%;
     height: 100%;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     opacity: 0.9;
     padding: 63px 24px;
     .portfolio__connteiner:hover &{
        transform: translateY(-100%); 
      }
    }
    
    &__owerlay-text{
        color: var(--color-other);
     font-family:var(--font-family-primary);
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.56;
     width: 322px;
     
    }

    &__element{
        width: 100%;
        max-width: 450px;
        
        @media screen and (min-width: 450px){
            width: 450px;
        }
        @media screen and (min-width: 769px){
            width: 354px;
            &:nth-child(3n){
                margin-right: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        @media screen and (min-width: 1200px){
            width: 370px;
            &:nth-last-child(-n + 3){
                margin-bottom: 0; 
            }
        }
        
     
        
        
            
    }
    &__information-conteiner{
        padding: 20px 24px ;
    }
    &__information-title{
   
        margin-bottom: 10px;
    
        color: var(--text-color-primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
    }
    &__information-text{
    
        color: var(--color-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: 0.48px;
    }
    &__image{
        width: 100%;
        margin: 0 auto;
        max-width:  450px; ;
        @media screen and (min-width: 450px){
            width: 450px;
        }
        @media screen and (min-width: 769px){
            width: 354px;
        }
        
        @media screen and (min-width: 1200px){
            width: 370px;
        } 
    }
}

