
.social{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover ,
  &:focus {
    background-color: var(--color-background-accent);
  }
    
  &__link-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social:hover &,
    .social:focus & {
      fill: #FFFFFF;
      
    }
  }
}  




