.what-we-do{
    padding-bottom: 94px; 
    display: none; 
    @media screen and (min-width: 1200px){
      display: block;
        
    }
       
    &__list{
        
        display: flex;
        justify-content:space-between;
    }
}
