:root {
    
    --font-family-primary:'Roboto', sans-serif;
    --font-family-second:'Raleway', sans-serif;
    
    --text-color-primary: #212121;
    --color-accent: #2196F3;
    --color-secondary: #757575;
    --color-third: #000000;
    --color-other: #FFFFFF;
    --color-alfa: rgba(255, 255, 255, 0.60);
    --color-gradient:rgba(47, 48, 58, 0.4);
    --color-client:#AFB1B8;
    
    
    --background-color-primary:#FFFFFF;
    --background-color-second:#2F303A;
    --color-background-third:#F5F4FA;
    --color-background-accent:#2196F3;
}