  

/* футерформа */
.form-footer{
    margin-top: 10px;
    margin-left: 93px;
    
    &__conteiner{
        display: flex;
        justify-content: center; /* Вирівнювання горизонталі */
        align-items: center; 
    }
    
    &__title{
        color: var(--color-other);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    
    }
    
    
    &__input{
        width: 358px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 12px;
        border-radius: 4px;
        padding: 15px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
        color: rgba(255, 255, 255, 0.60);
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 0.48px;
    }
    &__buton{
        display: flex;
        justify-content: center; /* Вирівнювання горизонталі */
        align-items: center; 
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        
    }
    &__icone{
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
 
}
    
    